<div id="<%= dom_id friend %>">
    <tr>
      <td><%= friend.name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
      <td><%= link_to "Show this friend", friend %></td>
    </tr>
</div>  
